body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border: 3px solid transparent;
}

.cell:nth-child(3n + 2) {
    border-left: 5px solid #00f;
    border-right: 5px solid #00f;
}

.cell:nth-child(n + 4):nth-child(-n + 6) {
    border-top: 5px solid #f00;
    border-bottom: 5px solid #f00;
}

.X {
    color: #0f0;
}

.O {
    color: #ffa500;
}